#foooter{
  align-items: center;
  width: 50%;
  background-image: linear-gradient(to left , rgb(238, 234, 234), rgb(85, 63, 42)) ;
  }
footer a:hover {
      text-decoration: underline;
      color: rgb(200, 155, 218);
    }